<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Users</title>
</head>
    <body>
        <h1>These are all of the users...</h1>
        <ul>
            <% users.forEach( function(user) { %>
            <li> 
                <%= user.firstName %>  
                <%= user.lastName %>: Age:
                <%= user.age %>, Email: 
                <%= user.email %>  
                <a href="/users/<%= user.id %>">DELETE</a>   
            </li>
           <% }) %>
        </ul>
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>